.main {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 20px 50px;
  padding: 160px;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .main {
    grid-template-columns: repeat(4, 200px);
  }
}

@media (max-width: 450px) {
  .main {
    grid-template-columns: repeat(3, 200px);
    gap: 10px 0px;
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .main {
    grid-template-columns: 200px 200px;
    padding: 20px;
    padding-left: 25px;
  }
}