.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 20px 50px;
  padding: 160px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
}

@media (max-width: 768px) {
  .main {
    padding: 20px;
  }
}

@media (max-width: 450px) {
  .main {
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .main {
    padding: 5px;
  }
}