.main {
    padding: 50px;
    padding-left: 150px;
    padding-top: 30px;
}

.summs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    padding-bottom: 10px;
}

@media (max-width: 900px) {
    .main {
        padding: 10px;
    }

    .summs {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media (max-width: 450px) {
    .main {
        padding: 20px;
    }

    .summs {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media (max-width: 320px) {
    .main {
        padding: 10px;
    }

    .summs {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}