.card {
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(70, 65, 65);
    position: relative;
    z-index: 0;
    text-align: center;
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.name{
    font-weight: 500;
}