.wrapper{
    display: grid;
}
.header {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: end;
    position: relative;
    gap: 15px;
    justify-self: center;
    margin-left: 50px;
}

.itemsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 40px 20px;
    justify-content: center;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 450px) {
    .itemsGrid {
        gap: 40px 10px;
    }
}

@media (max-width: 320px) {
    .itemsGrid {
        grid-template-columns: repeat(auto-fit, 130px);
        gap: 30px 10px;
        font-size: 15px;
    }
}