.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 40px 20px;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(4, 150px);
    }
}

@media (max-width: 450px) {
    .wrapper {
        grid-template-columns: repeat(3, 150px);
        gap: 40px 10px;
    }
}

@media (max-width: 320px) {
    .wrapper {
        grid-template-columns: repeat(3, 150px);
        gap: 70px 20px;
    }
}