.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 40px 20px;
    justify-content: center;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {

}

@media (max-width: 450px) {
    .wrapper {
        gap: 40px 10px;
    }
}

@media (max-width: 320px) {
    .wrapper {
        grid-template-columns: repeat(auto-fit, 130px);
        gap: 30px 10px;
        font-size: 15px;
    }
}