.bar {
    position: fixed;
    background: rgb(61, 61, 61);
    padding: 20px;
    padding-left: 30px;
    padding-top: 50px;
    height: 100%;
    color: azure;
    z-index: 100;
}

.active {
    font-weight: 800;
    color: rgb(142, 202, 255);
}

.menuIcon {
    display: none;
    position: fixed;
    z-index: 101;
    cursor: pointer;
    top: 10px;
    left: 35px;
}

@media (max-width: 768px) {
    .bar {
        padding: 30px;
        padding-left: 50px;
        padding-top: 60px;
    }

    .hiden {
        width: 0;
        overflow: hidden;
        padding: 0;
    }

    .menuIcon {
        display: block;
        margin-left: -20px;
    }

}

@media (max-width: 450px) {
    .menuIcon {
        display: block;
        margin-left: -20px;
    }

    .bar {
        padding: 0;
        padding-top: 60px;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    .hiden {
        width: 0;
        overflow: hidden;
    }
}

@media (max-width: 320px) {
    .bar {
        display: grid;
        gap: 40px;
        grid-template-rows: repeat(auto-fit, 50px);
        padding: 0;
        padding-top: 60px;
        width: 100%;
        text-align: center;
        font-size: 35px;
    }

    .hiden {
        width: 0;
        overflow: hidden;
        padding: 0;
    }
}

.navigation {
    list-style-type: none;
    display: grid;
    gap: 10px;
}