.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px 30px;
    justify-content: center;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: end;
    position: relative;
    gap: 15px;
    justify-self: center;
    margin-left: 50px;
}

@media (max-width: 320px) {
    .grid {
        gap: 20px 0px;
    }
}