.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px 30px;
    justify-content: center;
}

@media (max-width: 320px) {
    .grid {
        gap: 20px 0px;
    }

}