.summoners {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 40px 10px;
    text-align: center;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 160px;
    border-radius: 10px;
    justify-content: center;
    align-content: start;
    justify-self: start;
    align-self: flex-start;
}

.spell {
    cursor: pointer;
}

.description {
    transition: all 1.5s;
}

@media (max-width: 900px) {
    .summoners {
        width: 100%;
        grid-template-columns: repeat(auto-fill, 120px);
        gap: 30px 20px;
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        justify-self: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .description {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .summoners {
        width: 100%;
        grid-template-columns: repeat(auto-fill, 120px);
        gap: 30px 5px;
        padding: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
        justify-self: center;
        font-size: 15px;
    }

    .description {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .summoners {
        width: 100%;
        grid-template-columns: repeat(auto-fill, 120px);
        gap: 20px 5px;
        padding: 5px;
        padding-top: 30px;
        padding-bottom: 30px;
        justify-self: center;
        font-size: 15px;
    }
}