.skin {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.skinName {
    position: absolute;
    bottom: 25px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
}

.switchSkin {
    cursor: pointer;
}
.splashSkin{
    position: fixed;
    top: 0px;
    left: 0px;
    scale: 0.8;
    cursor: pointer;
}