.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 20px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.description {
    grid-column: 2/3;
    padding: 20px 0px;
    width: 100%;
}

.spells {
    grid-column: 2/3;
    padding: 20px 30px;
    background: rgba(48, 48, 48, 0.9);
    color: rgb(216, 204, 204);
    display: grid;
    gap: 10px;
    border-radius: 5px;
    position: relative;
    z-index: 12;
}

.skins {
    grid-column: 2/3;
    padding: 20px 30px;
    margin: auto;
    display: grid;
    grid-template-columns: 120px auto 120px;
    align-items: center;
    gap: 15px;  
}

@media (max-width: 450px) {
    .wrapper {
        grid-template-columns: auto 1fr auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .skins {
        grid-template-columns: 20px 1fr 20px;
        padding: 10px;
        justify-items: center;
        gap: 0;
    }
}

@media (max-width: 320px) {
    .wrapper {
        grid-template-columns: auto 1fr auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}